.c-navbar-container {
  background-color: light-dark(#ffffff, #000000);
  border-top-right-radius: var(--d-border-radius-large);
  border-top-left-radius: var(--d-border-radius-large);
}

.chat-message-container,
.chat-transcript {
  background: transparent;
}
