@use "lib/viewport";

/* Full page chat */
.full-page-chat.full-page-chat-sidebar-enabled {
  border: none;
}

body.has-full-page-chat {
  background-color: var(--background-color);
}

/* Navigation */
.c-navbar-container {
  padding: 0 0.5em;
  background-color: var(--d-content-background);
}

.c-navbar__actions .btn {
  font-size: var(--font-down-1);
}

.c-navbar__title-text {
  padding-left: 0.5rem;
}

/* Chat drawer */
.chat-drawer-container {
  .is-expanded & {
    box-shadow: 0 0 0 2px var(--tertiary-medium);
  }

  .chat-drawer.is-expanded & {
    border: none;
  }
}

.chat-drawer-outlet-container {
  z-index: z("composer", "content");

  .peek-mode-active & {
    padding-bottom: 0;
    left: unset;
    right: var(--main-grid-gap);

    &:has(.is-expanded) {
      z-index: calc(z("composer", "dropdown") + 1);
    }
  }
}

.chat-drawer {
  .peek-mode-active & {
    max-width: 90vw;
  }
}

/* Channel list */
.chat-drawer .channels-list-container .chat-channel-row {
  margin-bottom: var(--spacing-block-xs);
  font-size: var(--font-0);
  border-bottom: none;
  height: 2rem;

  &:hover {
    background-color: var(--d-sidebar-active-background);
  }
}

.channel-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-down-1);
}

/* Chat composer */
.chat-composer__wrapper {
  background: var(--d-content-background);
}

.chat-composer__outer-container {
  padding-inline: 0.33rem;
}

.chat-drawer-active.chat-drawer-expanded .chat-composer-dropdown__menu-content {
  z-index: z("composer", "modal", "dialog");
}

.chat-replying-indicator-container {
  @include viewport.from(sm) {
    margin-left: calc(0.65em + 0.2rem);
  }
}

.chat-browse-view__filter-link {
  font-size: var(--font-down-1);
}
