:root {
  --accent-base-color: #595bca;
  --accent-color: light-dark(
    var(--accent-base-color),
    oklch(from var(--accent-base-color) calc(l * 0.95) c h)
  );
  //   --background-color: light-dark(#f5f8ff, #101112);
  --background-color: light-dark(
    oklch(from var(--accent-color) 98% calc(c * 0.25) h),
    oklch(from var(--accent-color) 10% 0.025 h)
  );
  --header_primary-low-mid: light-dark(
    oklch(from var(--background-color) calc(l * 0.75) calc(c * 2) h),
    oklch(from var(--accent-color) calc(l * 1) calc(c * 0.25) h)
  );
  --header_primary-medium: light-dark(
    oklch(from var(--background-color) calc(l * 0.55) calc(c * 2) h),
    oklch(from var(--accent-color) calc(l * 1.35) calc(c * 0.25) h)
  );
  --d-content-background: light-dark(
    oklch(from var(--accent-color) calc(l * 2) 0 h),
    oklch(from var(--accent-color) calc(l * 0.375) 0 h)
  );
  --primary-100: light-dark(#f2f2f2, #333333);
  --primary-300: light-dark(#d1d1d1, #838383);
  --primary-low: light-dark(#e9e9e9, #313131);
  --primary-high: light-dark(#646464, #a6a6a6);
  --primary-very-high: light-dark(#434343, #c7c7c7);
  --d-hover: oklch(from var(--d-selected) l c h / 0.75);
  --tertiary: var(--accent-color);
  --tertiary-medium: light-dark(
    oklch(from var(--accent-color) calc(l * 1.25) calc(c * 0.25) h),
    oklch(from var(--accent-color) calc(l * 0.75) calc(c * 0.25) h)
  );
  --tertiary-very-low: light-dark(
    oklch(from var(--accent-color) calc(l * 1.75) calc(c * 0.25) h),
    oklch(from var(--accent-color) calc(l * 0.5) calc(c * 0.25) h)
  );
  --tertiary-med-or-tertiary: var(--accent-color);
  --tertiary-low: light-dark(
    oklch(from var(--accent-color) calc(l * 1.6) calc(c * 0.25) h),
    oklch(from var(--accent-color) calc(l * 0.6) calc(c * 0.25) h)
  );
  --d-sidebar-highlight-hover-icon: var(--d-sidebar-link-color);
  --search-color: light-dark(
    oklch(from var(--accent-color) calc(l * 0.65) calc(c * 0.65) h),
    oklch(from var(--accent-color) calc(l * 1.5) calc(c * 2) h)
  );
  --search-banner-text-color: light-dark(
    oklch(from var(--accent-color) calc(l * 0.65) calc(c * 0.65) h),
    oklch(from var(--accent-color) calc(l * 1.85) calc(c * 2) h)
  );
  --topic-card-shadow: light-dark(
    oklch(from var(--accent-color) calc(l * 1.85) calc(c * 0.5) h),
    oklch(from var(--accent-color) calc(l * 0.2) calc(c * 0.01) h / 0.25)
  );
  --button-box-shadow: light-dark(
    oklch(from var(--accent-color) calc(l * 2) calc(c * 0.125) h),
    oklch(from var(--accent-color) calc(l * 0.75) calc(c * 0.5) h)
  );
  --d-selected: light-dark(
    oklch(from var(--background-color) calc(l * 0.9375) calc(c * 2) h),
    oklch(from var(--accent-color) calc(l * 0.7) calc(c * 0.25) h)
  );
  --d-sidebar-highlight-hover-background: var(--d-selected);
  --d-sidebar-border-color: light-dark(
    oklch(from var(--background-color) calc(l * 0.9) calc(c * 1) h),
    oklch(from var(--accent-color) calc(l * 0.7) calc(c * 0.25) h)
  );
  --d-chat-border: light-dark(
    oklch(from var(--accent-color) calc(l * 1.25) calc(c * 0.25) h),
    oklch(from var(--accent-color) calc(l * 0.25) calc(c * 0.25) h)
  );
  --accent-text-color: light-dark(#ffffff, #212121);
  --d-nav-color--active: var(--accent-color);
  --d-sidebar-background: var(--background-color);
  --d-sidebar-footer-fade: rgba(var(--tertiary-50-rgb), 1);
  --d-sidebar-link-color: light-dark(
    oklch(from var(--accent-color) calc(l * 0.8) calc(c * 0.25) h),
    oklch(from var(--accent-color) calc(l * 1.5) calc(c * 0.25) h)
  );
  --d-sidebar-link-icon-color: var(--d-sidebar-link-color);
  --d-sidebar-header-color: var(--d-sidebar-link-color);
  --d-sidebar-header-icon-color: var(--d-sidebar-link-color);
  --d-sidebar-suffix-color: light-dark(
    oklch(from var(--accent-base-color) calc(l * 1) calc(c * 0.9) h),
    oklch(from var(--accent-base-color) calc(l * 1) calc(c * 0.9) h)
  );
  --d-sidebar-active-suffix-color: var(--d-sidebar-suffix-color);
  --link-color: light-dark(
    var(--accent-base-color),
    oklch(from var(--accent-base-color) calc(l * 0.95) c h)
  );
  --link-color-hover: light-dark(
    var(--accent-base-color),
    oklch(from var(--accent-base-color) calc(l * 1.5) calc(c * 2.25) h)
  );
  --d-sidebar-prefix-background: var(--d-selected);
  --d-sidebar-active-prefix-background: light-dark(
    oklch(from var(--d-selected) calc(l * 0.85) c h),
    oklch(from var(--d-selected) calc(l * 0.7) c h)
  );
  --d-sidebar-highlight-prefix-background: light-dark(
    oklch(from var(--d-selected) calc(l * 0.85) c h),
    oklch(from var(--d-selected) calc(l * 0.7) c h)
  );
  --d-sidebar-highlight-suffix-color: var(--d-sidebar-active-suffix-color);
  --d-sidebar-highlight-color: var(--primary);
  --d-sidebar-highlight-background: var(--d-selected);
  --d-sidebar-section-link-icon-size: 1em;
  --d-input-bg-color: var(--d-content-background);
  --tertiary-hover: var(--accent-color);
}
