.color-pallette-menu {
  &__item .btn-icon-text.btn-flat {
    background-color: var(--d-content-background);
    width: 100%;
    justify-content: flex-start;
  }
  &__item .btn-icon-text.btn-flat:hover {
    background-color: var(--d-selected);
    box-shadow: none;
    color: var(--primary);
  }
  &__item .btn-icon-text.btn-flat:hover svg {
    color: var(--icon-color);
  }
  &__item .btn-icon-text.btn-flat svg {
    color: var(--icon-color);
  }
}

.user-color-pallette-content .fk-d-menu__inner-content {
  border: none;
}

html.cusom-color-horizon {
  --accent-base-color: #595bca;
}

html.custom-color-marigold {
  --accent-base-color: #d3881f;
}

html.custom-color-violet {
  --accent-base-color: #9b15de;
}

html.custom-color-lily {
  --accent-base-color: #cc336f;
}

html.custom-color-clover {
  --accent-base-color: #4caf50;
}

html.custom-color-royal {
  --accent-base-color: #4169e1;
}
