.d-header {
  box-shadow: none;
  background: var(--background-color);
  padding-bottom: 1.5em;
}

.has-full-page-chat .d-header {
  background-color: transparent;
}

.user-menu .quick-access-panel,
.user-notifications-list {
  li {
    &.pending,
    &.unread {
      background: var(--d-hover);

      .discourse-no-touch & {
        &:hover,
        &:focus {
          background: var(--d-selected);
        }
      }
    }
  }
}

.user-menu.revamped .tabs-list .btn.active {
  background: var(--d-hover);
}
