:root {
  --main-grid-gap: 0.5em;
}

html:not(:has(.has-full-page-chat)) {
  background-color: var(--background-color);

  @include breakpoint("mobile-extra-large") {
    background-color: var(--d-content-background);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  @include breakpoint("mobile-extra-large") {
    background-color: var(--d-content-background);
  }
}
#main-outlet-wrapper {
  gap: var(--main-grid-gap);
}

body.has-sidebar-page.has-full-page-chat #main-outlet-wrapper {
  grid-column-gap: var(--main-grid-gap);
  background-color: var(--background-color);
}

body.has-full-page-chat:not(.has-sidebar-page) {
  .d-header {
    background-color: var(--background-color);
  }
  #main-outlet-wrapper {
    gap: var(--main-grid-gap);
    @include breakpoint(medium) {
      gap: 0;
    }
  }
}

body.has-sidebar-page #main-outlet-wrapper {
  grid-template-columns: var(--d-sidebar-width) minmax(0, 1fr) 0px;
  #main-outlet {
    max-width: unset;
  }
}

body:not(.has-sidebar-page) #main-outlet-wrapper {
  @include breakpoint(medium, $rule: min-width) {
    grid-template-columns: 0px minmax(0, 1fr) 0px;
  }
}

body:not(.has-full-page-chat) {
  @include breakpoint(extra-large, $rule: min-width) {
    background-color: var(--background-color);
  }
  #main-outlet-wrapper {
    @include breakpoint(medium) {
      --main-grid-gap: 0;
    }
    @media screen and (min-width: 768px) {
      gap: var(--main-grid-gap);
    }
    #main-outlet {
      width: 100%;
      max-width: unset;
      padding-bottom: var(--spacing-block-l);
      border-radius: var(--d-border-radius-large);
      background-color: var(--d-content-background);
      @include breakpoint(medium) {
        border-radius: 0px;
      }
      html.composer-open & {
        padding-bottom: var(--composer-height);
      }
      > *:not(.experimental-screen, .activate-account) {
        @include breakpoint(medium, $rule: min-width) {
          box-sizing: border-box;
          max-width: 1000px;
          margin-inline: auto;
          padding-inline: var(--spacing-inline-l);
        }
      }
    }
  }
}

#list-area {
  .show-more.has-topics {
    @include breakpoint(medium, $rule: min-width) {
      width: auto;
      right: 50%;
      transform: translateX(50%);

      .alert {
        padding: var(--spacing-block-sm) var(--spacing-inline-m);
        border-radius: var(--d-border-radius-large);
        font-size: var(--font-down-1-rem);
      }
    }
  }
  .topic-list-body {
    padding-top: var(--spacing-block-m);
  }
}

aside.onebox {
  background-color: var(--d-content-background);
}

.d-editor-preview-wrapper {
  border-radius: var(--d-border-radius);
  padding: 1em;
  background-color: var(--d-content-background);
}

.no-ember {
  #main-outlet {
    border-radius: var(--d-border-radius-large);
    margin: 0 var(--main-grid-gap) var(--main-grid-gap) var(--main-grid-gap);
    padding: 2em;
    max-height: calc(100vh - 50px - 1em - var(--main-grid-gap));
  }
}

// Nauta edits //
.signup-progress-bar,
#user-menu-button-other-notifications,
.quick-access-profile .activity,
.quick-access-profile .presence-toggle,
.user-nav__activity,
.user-nav__notifications,
.user-nav__badges,
.collapsed-info-panel:last-child,
.sidebar-section-wrapper .sidebar-section-header-global-indicator .d-icon,
.groups-header-filters {
  display: none !important;
}

.tag-group-glosario,
.tag-group-content_languages_disabled,
.tag-group-content_languages,
.tag-group-tickets_priority,
.tag-group-tickets_status {
display: none !important;
}

.user-card .badge-section {
  display: none !important;
}
.list-controls {
  padding: 0;
}

.img.emoji {
  width: 23px;
  height: 23px;
  padding-bottom: 3px;
  padding-left: 3px;
}

.collapsed-info-panel dl div:last-child,
.collapsed-info-panel dd.trust-level,
.collapsed-info-panel dl.trust-level,
.user-content .badges-section {
display: none !important;
}

.collapsed-info-panel dd.groups a.ember-view {
display: none !important;
}

.badge-grouping:nth-child(1).badge-group-list:before {
  content: "@anons se transforman en @randoms con 4 desafíos:"
}

.badge-grouping:nth-child(2).badge-group-list:before {
  content: "@randoms son @traders con estos 9:"
}

.badge-grouping:nth-child(4) {
  display: none;
}

#reply-control.draft {
  padding: 0.5rem 0;
}

.has-ai-conversations-sidebar .ai-new-question-button {
  margin: 1.8em 1rem 1rem;
}