html:not(:has(.has-full-page-chat)) {
  background-color: var(--background-color);
}

:root {
  --main-grid-gap: 2em;
}

body:not(.has-full-page-chat) {
  background-color: var(--background-color);
  #main-outlet-wrapper {
    // margin-top: 1.5rem;
    @media screen and (max-width: 485px) {
      --main-grid-gap: 0;
    }
    gap: var(--main-grid-gap);
    // height: calc(100vh - var(--header-offset) - 4rem);
    // box-sizing: border-box;
    // > * {
    // height: inherit;
    // box-sizing: border-box;
    // }
    #main-outlet {
      width: 100%;
      padding-bottom: var(--spacing-block-l);
      // height: inherit;
      // overflow: scroll;
      // &:has(.list-controls) {
      // padding-top: 0;
      // }
      // &:has(#topic-title) {
      // padding-top: 0;
      // }
      //thanks to random container elements on the page, I can't do a direct child selector here because it targets all the randomness, so I see no other option than MANUALLY adding every possible element that can appear in the main outlet YAY
      .list-controls,
      .list-container,
      #topic-title,
      .container.posts,
      #topic-footer-buttons,
      .more-topics__container {
        max-width: 1000px;
        margin-inline: auto;
        padding-inline: 1.5em;
        @media screen and (max-width: 425px) {
          padding-inline: 0.5em;
        }
      }
      border-radius: var(--d-border-radius-large);
      border-radius: 1.25rem;
      // box-shadow: 0px 0px 1px 2px #e2e8f8, 0px 0px 24px 4px #e2e8f8;
      background-color: var(--d-content-background);
    }
  }

  // .global-notice {
  //   margin-top: var(--spacing-block-m);
  // }
}

.list-container {
  .topic-list-body {
    padding-top: var(--spacing-block-m);
  }
  .topic-list-item {
    box-shadow: 0px 0px 26px 1px hsl(224 61% 96% / 1);
  }
}

aside.onebox {
  background-color: var(--d-content-background);
}

.d-editor-preview-wrapper {
  box-shadow: 0px 0px 1px 2px var(--tertiary-50),
    0px 0px 24px 4px var(--tertiary-50);
  border-radius: var(--d-border-radius-large);
  padding: 1em;
  background-color: var(--d-content-background);
}
