.user-main .about.collapsed-info .details {
  background: var(--d-content-background);
}

.user-menu .quick-access-panel .read,
.user-notifications-list .read {
  background: var(--d-content-background);
}

.powered-by-discourse {
  z-index: 9999;
}

.boxed.white {
  background-color: var(--d-content-background);
}

.admin-area .sidebar-wrapper .admin-panel {
  background-color: transparent;
}

.admin-report .main .report-alert.no-data,
.admin-report .main .report-alert.rate-limited {
  background-color: var(--d-content-background);
}

.admin-detail {
  background-color: var(--d-content-background);
}
