.topic-list-body .topic-list-item td.main-link .link-top-line a.raw-topic-link {
  font-weight: 600;
}

@media screen and (min-width: calc(1001px)) {
  .topic-list-body .topic-list-item .topic-status-card {
    top: -25px;
    height: 25px;
    font-size: var(--font-down-2);
    padding: 0.21em;
  }
}

:root {
  --base-font-size-smallest: 0.85575em;
  --base-font-size-smaller: 0.91875em;
  --base-font-size: 1.05em;
  --base-font-size-larger: 1.18125em;
  --base-font-size-largest: 1.3125em;
  --font-up-6: 2.4108em;
  --font-up-5: 2.1em;
  --font-up-4: 1.838655em;
  --font-up-3: 1.591485em;
  --font-up-2: 1.385475em;
  --font-up-1: 1.206135em;
  --font-0: 1.05em;
  --font-down-1: 0.91413em;
  --font-down-2: 0.795795em;
  --font-down-3: 0.692895em;
  --font-down-4: 0.603225em;
  --font-down-5: 0.525em;
  --font-down-6: 0.457275em;
  --font-up-3-rem: 1.591485rem;
  --font-up-2-rem: 1.385475rem;
  --font-up-1-rem: 1.206135rem;
  --font-0-rem: 1.05rem;
  --font-down-1-rem: 0.91413rem;
  --font-down-2-rem: 0.795795rem;
}

body.f-nav-hidden {
  .list-controls {
    top: 0;
  }
}

.toggle-current-user {
  display: none;
}

.d-header-icons {
  .header-dropdown-toggle {
    &.chat-header-icon {
      display: none;
    }
  }
}
