@import "variables";
@import "mixins";

// Mobile stuff
@include breakpoint(mobile-extra-large) {
  .has-full-width-logo {
    .d-header {
      .header-before {
        display: none;
      }
    }
  }

  .d-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--d-content-background);

    .panel {
      padding: 0.5rem 1rem;
    }

    .header-before {
      padding: 0.5rem 1rem;
    }

    .header-before-outlet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-before-outlet .user-menu {
      position: static;
    }
  }

  #main-outlet {
    padding-top: 60px;
  }

  .docked-composer {
    bottom: 60px;
  }

  .topic-body {
    padding: 1rem;
  }

  .topic-list {
    margin-top: 0;
  }

  .list-controls {
    margin-top: 60px;
  }

  .topic-list-item {
    padding: 1rem;
  }

  .topic-list .topic-list-item-separator {
    margin: 0.5rem 0;
    border: none;
    height: 1px;
    background-color: var(--primary-low);

    td {
      padding: 0.5rem 1rem;
      border: none;
      height: 1px;
      line-height: 1px;
    }

    .topic-list-separator {
      padding: 0.5rem 1rem;
      border: none;
      height: 1px;

      .separator {
        margin: 0;
        padding: 0;
        height: 1px;
        background: none;

        &::before {
          content: none;
        }

        .d-icon {
          display: none;
        }

        span {
          padding: 0;

          &::before,
          &::after {
            color: var(--primary-medium);
          }

          &::before {
            content: "•";
            margin-right: 0.5rem;
          }

          &::after {
            content: "•";
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
