.list-controls {
  position: sticky;
  top: 0;
  background: var(--secondary);
  z-index: 100;
  padding: 1.5rem 0 1rem 0;
  max-width: unset;

  .navigation-container {
    .category-breadcrumb {
      order: 1;
    }
  }
  .combo-box .combo-box-header,
  .select-kit.is-expanded .select-kit-body,
  .discourse-post-event .discourse-post-event-widget {
    background-color: var(--secondary);
    border-radius: 6.25rem;
  }
}
.nav-pills > li > a:hover,
.nav-pills > li button:hover {
  background: transparent;
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: var(--d-nav-underline-height);
    background: var(--accent-color);
  }
}
