.list-controls {
  position: sticky;
  top: var(--header-offset);
  background: var(--d-content-background);
  z-index: 100;
  padding: 1.5rem 0 1rem 0;
  max-width: unset;

  .navigation-container {
    gap: 1rem;
    .category-breadcrumb {
      order: 1;
    }
  }
  .combo-box .combo-box-header,
  .discourse-post-event .discourse-post-event-widget {
    // needs more specificy than just in the button file
    background-color: var(--secondary);
    border: 1px solid var(--accent-color);
    border-radius: var(--d-border-radius-large);
    // font-size: var(--font-up-1-rem);
  }
  .select-kit.combo-box.category-drop.has-selection
    .category-drop-header:hover {
    border-color: transparent;
  }
}

.select-kit.is-expanded .select-kit-body {
  border-radius: var(--d-border-radius);
  background-color: var(--d-content-background);
}

.nav-pills > li > a:hover,
.nav-pills > li button:hover {
  background: transparent;
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: var(--d-nav-underline-height);
    background: var(--accent-color);
  }
}
