.topic-list .topic-list-item-separator {
  display: none;
}

.topic-list > .topic-list-body > .topic-list-item.last-visit {
  border-bottom: 1px solid var(--primary-300);
  &:hover {
    border-color: var(--accent-color);
  }
}

.topic-list-body {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  @include breakpoint(medium) {
    gap: 0.5em;
    padding: 0 0.5em;
  }
  @include breakpoint(mobile-extra-large) {
    gap: 0;
    padding: 0;
  }
}

.bulk-select-enabled .topic-list-item {
  grid-template-areas:
    "avatar author status status . activity"
    ". topic-title topic-title topic-title likes-replies likes-replies category";
  .bulk-select {
    grid-area: bulk-select;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
    label {
      margin: 0;
    }
  }
  @include breakpoint(large) {
    grid-template-columns: 44px min-content min-content auto min-content min-content min-content;
    grid-template-rows: 22px minmax(22px, auto);
    grid-template-areas:
      "avatar author status status  . activity"
      ". topic-title topic-title topic-title . . likes-replies"
      ". topic-title topic-title topic-title . . category";
  }
  @include breakpoint(mobile-extra-large) {
    grid-template-columns: 25px auto repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "avatar category-status category-status . . . . activity"
      "topic-title topic-title topic-title topic-title topic-title topic-title topic-title topic-title"
      "avatar author . . . . . likes-replies";
  }
}

body.user-messages-page .topic-list-item {
  .topic-category-status-data {
    display: none;
  }
  grid-template-areas:
    "avatar author status status . . activity"
    ". topic-title topic-title topic-title likes-replies likes-replies likes-replies";
  &.excerpt-expanded {
    grid-template-columns: 44px repeat(6, 1fr) auto;
    grid-template-rows: 22px auto auto 30px;
    grid-template-areas:
      "avatar author status status . . . activity"
      "avatar topic-title topic-title topic-title topic-title . . ."
      ". excerpt excerpt excerpt excerpt excerpt . ."
      ". excerpt excerpt excerpt excerpt excerpt likes-replies likes-replies";
    @include breakpoint(extra-large) {
      grid-template-areas:
        "avatar author status status . . . activity"
        "avatar topic-title topic-title topic-title topic-title . . ."
        ". excerpt excerpt excerpt excerpt excerpt . likes-replies"
        ". excerpt excerpt excerpt excerpt excerpt . likes-replies";
    }
  }
  @include breakpoint(mobile-extra-large) {
    grid-template-columns: 25px auto repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "topic-title topic-title topic-title topic-title topic-title topic-title topic-title activity"
      "avatar author . . . . . likes-replies";
    .topic-excerpt {
      display: none;
    }
  }
}

.topic-list-item {
  text-overflow: ellipsis;
  padding: 0.75em 1rem;
  border: 1px solid var(--primary-300);
  display: grid;
  grid-template-columns: 44px min-content min-content auto min-content min-content min-content;
  grid-template-rows: 22px minmax(22px, auto);
  grid-template-areas:
    "avatar author status status . . activity"
    ". topic-title topic-title topic-title likes-replies likes-replies category";
  grid-column-gap: 12px;
  grid-row-gap: 8px;
  border-radius: var(--d-border-radius);
  &.excerpt-expanded {
    grid-template-columns: 44px auto repeat(5, 1fr) auto;
    grid-template-rows: 22px auto auto 30px;
    grid-template-areas:
      "avatar author status status . . . activity"
      "avatar topic-title topic-title topic-title topic-title . . ."
      ". excerpt excerpt excerpt excerpt excerpt . ."
      ". excerpt excerpt excerpt excerpt excerpt likes-replies category";
    @include breakpoint(extra-large) {
      grid-template-areas:
        "avatar author status status . . . activity"
        "avatar topic-title topic-title topic-title topic-title . . ."
        ". excerpt excerpt excerpt excerpt excerpt . likes-replies"
        ". excerpt excerpt excerpt excerpt excerpt . category";
    }
    @include breakpoint(mobile-extra-large) {
      grid-template-columns: 25px auto repeat(6, 1fr);
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "category-status category-status category-status . . . . activity"
        "topic-title topic-title topic-title topic-title topic-title topic-title topic-title topic-title"
        "avatar author . . . . . likes-replies";
      .topic-excerpt {
        display: none;
      }
    }
  }
  @include breakpoint(large) {
    grid-template-columns: 44px min-content min-content auto min-content min-content min-content;
    grid-template-rows: 22px minmax(22px, auto);
    grid-template-areas:
      "avatar author status status . . activity"
      ". topic-title topic-title topic-title . . likes-replies"
      ". topic-title topic-title topic-title . . category";
  }
  @include breakpoint(mobile-extra-large) {
    grid-template-columns: 25px auto repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "category-status category-status category-status . . . . activity"
      "topic-title topic-title topic-title topic-title topic-title topic-title topic-title topic-title"
      "avatar author . . . . . likes-replies";
  }
  @include breakpoint(mobile-extra-large) {
    border: none;
    border-bottom: 1px solid var(--primary-200);
  }

  // display contents
  td.main-link,
  td.posters,
  td.posts,
  td.views,
  td.activity {
    display: contents;
  }

  td.num.posts a {
    padding: 0;
  }

  // avatar & author
  .topic-author-avatar-data,
  .author-avatar {
    grid-area: avatar;
    margin: 0;
  }
  .topic-author-avatar img.avatar,
  .author-avatar img.avatar {
    width: 44px;
    height: 44px;
    border-radius: var(--d-border-radius);
    @include breakpoint(mobile-extra-large) {
      width: 25px;
      height: 25px;
    }
  }
  td.topic-author-data {
    grid-area: author;
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
  .topic-author-data .topic-author {
    color: var(--primary-500);
  }

  // status
  .topic-status-card {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 0 6px;
    font-size: var(--font-down-2);
    font-weight: 600;
    border-radius: var(--d-border-radius);
    border: 1px solid var(--status-color);
    color: var(--status-color);
    grid-area: status;
    width: min-content;
    @include breakpoint(mobile-extra-large) {
      height: calc(100% - 2px);
    }
    svg {
      font-size: var(--font-down-1);
      color: var(--status-color);
    }
  }

  .topic-status-card.--pinned {
    --status-color: var(--primary-500);
    background-color: transparent;
    line-height: unset;
  }
  .topic-status-card.--hot {
    --status-color: #e45735;
  }

  // title
  td.main-link .link-top-line {
    font-size: var(--font-0);
    grid-area: topic-title;
    font-weight: 500;
  }

  .link-top-line .event-date {
    font-size: var(--font-down-3);
  }

  td.main-link a.topic-status {
    display: none;
  }

  .topic-list-data {
    padding: 0;
  }

  td.main-link .link-top-line a.raw-topic-link {
    padding: 0;
  }

  .topic-post-badges .badge-notification.unread-posts {
    background-color: var(--tertiary);
    color: var(--tertiary);
    overflow: hidden;
    height: 8px;
    width: 8px;
    padding: 0;
    top: -2px;
    min-width: unset;
  }

  // excerpt
  .topic-excerpt {
    grid-area: excerpt;
    margin: 0;
    font-size: var(--font-down-2);
  }

  // timestamp
  td.activity .post-activity {
    grid-area: activity;
    font-size: var(--font-down-1);
    color: var(--primary-500);
    margin-left: auto;
    padding: 0;
  }

  // metadata
  // metadata - category
  td.main-link .link-bottom-line {
    display: none;
  }

  td.topic-category-status-data {
    display: contents;
    @include breakpoint(mobile-extra-large) {
      grid-area: category-status;
      display: flex;
      gap: 0.5em;
      align-items: center;
    }
  }
  td.topic-category-status-data .badge-category__wrapper,
  td.main-link .link-bottom-line .badge-category__wrapper {
    grid-area: category;
    overflow: unset;
    border-radius: var(--d-border-radius);
    padding: 6px;
    align-self: flex-end;
    background-color: light-dark(
      oklch(from var(--category-badge-color) 97% calc(c * 0.3) h),
      oklch(from var(--category-badge-color) 45% calc(c * 0.5) h)
    );

    @include breakpoint(mobile-extra-large) {
      padding: 2px 6px;
    }

    .badge-category__name {
      color: light-dark(
        oklch(from var(--category-badge-color) 20% calc(c * 1) h),
        oklch(from var(--category-badge-color) 100% calc(c * 0.9) h)
      );
    }
  }
  td.main-link .discourse-tags {
    display: none;
  }

  // metadata - likes and replies
  td.posts .badge-posts {
    grid-area: replies;
    align-self: center;
    font-weight: normal;
  }

  td.topic-likes-replies-data {
    grid-area: likes-replies;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: flex-end;
    height: min-content;
    align-self: flex-end;
    padding-bottom: 4px;
  }
  .topic-likes-replies-data .topic-likes,
  .topic-likes-replies-data .topic-replies {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    color: var(--primary-500);
    svg {
      color: var(--primary-600);
    }
  }
}

.topic-list-item {
  background: var(--d-content-background);
  box-shadow: 0px 0px 12px 1px var(--topic-card-shadow);
  &:hover {
    .discourse-no-touch & {
      border-color: var(--accent-color);
      background: var(--d-content-background);
    }
  }
  &.selected {
    box-shadow: 0px 0px 0px 2px var(--accent-color),
      0px 0px 12px 1px var(--topic-card-shadow);
  }
}

.topic-list-item.bookmark-list-item {
  @include breakpoint(mobile-extra-large) {
    grid-template-columns: 25px auto repeat(5, 1fr) min-content;
  }
  grid-template-areas:
    "avatar . . . . update dropdown"
    ". topic-title topic-title topic-title topic-title category dropdown";
  @include breakpoint(mobile-extra-large) {
    grid-template-areas:
      "avatar . . . . . update dropdown"
      ". topic-title topic-title topic-title topic-title . category dropdown";
  }
  &.has-metadata {
    grid-template-areas:
      "avatar metadata metadata metadata metadata update dropdown"
      ". topic-title topic-title topic-title likes-replies category dropdown";
    @include breakpoint(mobile-extra-large) {
      grid-template-areas:
        "avatar metadata metadata metadata metadata . update dropdown"
        ". topic-title topic-title topic-title likes-replies . category dropdown";
    }
  }
  &.excerpt-expanded {
    grid-template-areas:
      "avatar topic-title topic-title topic-title topic-title topic-title update dropdown"
      "avatar excerpt excerpt excerpt excerpt excerpt . dropdown"
      ". excerpt excerpt excerpt excerpt excerpt . dropdown"
      ". excerpt excerpt excerpt excerpt excerpt category dropdown";
    @include breakpoint(mobile-extra-large) {
      .post-excerpt {
        display: none;
      }
    }
    &.has-metadata {
      grid-template-areas:
        "avatar metadata metadata metadata metadata metadata update dropdown"
        "avatar topic-title topic-title topic-title topic-title topic-title topic-title dropdown"
        ". excerpt excerpt excerpt excerpt excerpt . dropdown"
        ". excerpt excerpt excerpt excerpt excerpt category dropdown";
    }
  }
  td.main-link .link-bottom-line {
    display: contents;
    .badge-category__wrapper {
      grid-area: category;
    }
  }
  td.main-link .link-top-line {
    display: contents;
    .bookmark-metadata {
      grid-area: metadata;
    }
    .bookmark-status-with-link {
      grid-area: topic-title;
    }
  }
  .post-excerpt {
    grid-area: excerpt;
  }
  .topic-list-data:last-of-type {
    display: contents;
    .bookmark-actions-dropdown {
      grid-area: dropdown;
      align-self: center;
    }
  }
  .post-metadata.topic-list-data.updated-at {
    grid-area: update;
    margin-left: auto;
  }
  td.activity .post-activity {
    display: none;
  }
}

.topic-list-item.assigned-list-item {
  grid-template-areas:
    "avatar author status status . activity dropdown"
    ". topic-title topic-title topic-title likes-replies category dropdown";
  @include breakpoint(mobile-extra-large) {
    grid-template-areas:
      "avatar author status status . . . activity dropdown"
      ". topic-title topic-title topic-title . . . . dropdown"
      ". topic-title topic-title topic-title likes-replies likes-replies likes-replies category dropdown";
  }
  .assign-topic-buttons {
    display: contents;
    .assign-actions-dropdown {
      grid-area: dropdown;
      align-self: center;
    }
  }
  td.topic-category-status-data {
    display: contents;
  }
}
