.post-stream {
  .contents {
    font-size: var(--font-up-1);
    line-height: 1.25;
  }
}

.container.posts .topic-navigation {
  // super fragile because new sticky topic title doesnt have a calculated value (= 53px with this font and size but…)
  top: calc(
    var(--header-offset, 60px) + 53px + calc(var(--spacing-block-l) * 2)
  );
}

.timeline-container .topic-timeline {
  min-width: unset; // why we have this?
  .timeline-scrollarea {
    border-left: 1px solid var(--accent-color);
  }
  .timeline-scroller {
    padding: 0.25em;
    border: 1px solid var(--accent-color);
    border-radius: 0.75em;
    padding-left: 0.5em;
    margin-left: calc(-0.5em - 2.5px);
    background: var(--d-content-background);
    height: 40px !important; // height is coming from element style have no other choice
  }
  .timelime-scroller-content {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }
  .timeline-replies,
  .timeline-ago {
    line-height: 1;
  }
  .timeline-ago {
    // font-size: var(--font-down-1);
  }
  .timeline-handle {
    background-color: var(--accent-color);
    width: 3px;
    border-radius: 2px;
    height: calc(100% - 6px);
  }
}

#topic-title {
  @include breakpoint(extra-large, $rule: min-width) {
    z-index: z("composer", "content") - 1;
    padding: var(--spacing-block-l) var(--spacing-inline-xl);
    margin-bottom: 0;
    top: var(--header-offset);
    background: var(--d-content-background);
  }
}
.container.posts,
#topic-footer-buttons {
  padding: 0 24px;
}

.container.posts {
  grid-template-columns: auto 150px;
  @media screen and (max-width: 924px) {
    grid-template-columns: auto auto;
  }
}

.timeline-container .topic-timeline .timeline-ago {
  max-width: unset;
  overflow: unset;
  text-overflow: unset;
}

.timeline-container .topic-timeline .timeline-scroller-content {
  overflow: unset;
}

.more-topics__container
  .more-topics__list
  .topic-list-body
  .topic-list-item:last-of-type {
  border-bottom: 1px solid var(--primary-300);
}

.discourse-post-event .discourse-post-event-widget {
  background: var(--d-content-background);
}

.more-topics__container .nav {
  position: unset;
  margin-block: unset;
  margin-bottom: 1em;
}

.timeline-container.timeline-fullscreen
  .topic-timeline
  .timeline-scrollarea
  .timeline-scroller
  .timeline-handle {
  float: none;
  width: 5px;
  position: relative;
  right: -4px;
}
