:root {
  --accent-color: #595bca;
  --background-color: light-dark(#f5f8ff, #1b1c1e);
  --search-color: light-dark(
    oklch(from var(--accent-color) calc(l * 0.65) calc(c * 0.65) h),
    oklch(from var(--accent-color) calc(l * 1.5) calc(c * 2) h)
  );
  --search-banner-text-color: light-dark(
    oklch(from var(--accent-color) calc(l * 0.65) calc(c * 0.65) h),
    oklch(from var(--accent-color) calc(l * 1.85) calc(c * 2) h)
  );
  --topic-card-shadow: light-dark(
    oklch(from var(--accent-color) calc(l * 2) calc(c * 0.1) h / 0.5),
    oklch(from var(--accent-color) calc(l * 0.2) calc(c * 0.01) h / 0.25)
  );
  --button-box-shadow: light-dark(
    oklch(from var(--accent-color) calc(l * 2) calc(c * 0.125) h),
    oklch(from var(--accent-color) calc(l * 0.75) calc(c * 0.5) h)
  );
  --d-selected: light-dark(
    oklch(from var(--accent-color) calc(l * 1.9) calc(c * 2) h / 0.3),
    oklch(from var(--accent-color) calc(l * 0.65) calc(c * 0.65) h / 0.75)
  );
  --d-chat-border: light-dark(
    oklch(from var(--accent-color) calc(l * 1.5) calc(c * 0.25) h),
    oklch(from var(--accent-color) calc(l * 0.25) calc(c * 0.25) h)
  );
  --d-max-width: 1000px;
  --d-border-radius-large: 20px;
  --d-border-radius: 8px;
  --d-input-border-radius: 6px;
  --accent-text-color: light-dark(#ffffff, #0f1024);
  --d-content-background: var(--secondary);
  --d-nav-color--active: var(--accent-color);
  --d-sidebar-background: var(--background-color);
  --d-sidebar-footer-fade: rgba(var(--tertiary-50-rgb), 1);
  --d-sidebar-link-color: var(--primary);
  --d-sidebar-highlight-color: var(--primary);
  --d-sidebar-highlight-background: var(--d-selected);
  --d-sidebar-section-link-icon-size: 1em;
  --d-input-bg-color: var(--d-content-background);
  // --d-sidebar-row-height: 2.8em;
  //the idea is: block spacing can grow with font-size, but inline spacing should not to maintain horizontal (text) alignment
  --spacing-block-xs: 0.25em;
  --spacing-block-s: 0.5em;
  --spacing-block-sm: 0.75em;
  --spacing-block-m: 1em;
  --spacing-block-l: 1.5em;
  --spacing-block-xl: 2em;
  --spacing-block-xxl: 4em;
  --spacing-inline-xs: 0.25em;
  --spacing-inline-s: 0.5rem;
  --spacing-inline-sm: 0.75rem;
  --spacing-inline-m: 1rem;
  --spacing-inline-l: 1.5rem;
  --spacing-inline-xl: 2rem;
  --spacing-inline-xxl: 4rem;
}
