:root {
  --d-border-radius-large: 20px;
  --d-border-radius: 8px;
  --d-input-border-radius: 8px;
  --accent-color: #595bca;
  --accent-text-color: #ffffff;
  --d-nav-color--active: var(--accent-color);
}
