:root {
  --d-border-radius-large: 20px;
  --d-border-radius: 6px;
  --d-input-border-radius: 6px;
  --accent-color: #595bca;
  --accent-text-color: #ffffff;
  --d-nav-color--active: var(--accent-color);
  --primary: #0c0d27;
}
